#filesDisplay 
{
	padding: 10px;
	margin-top: 20px;
	background: #f9f9f9;
	border: 1px solid #f3f3f3;
	display: none;
}

#SWFUpload 
{
	margin-left: 20px;
}

#mmUploadFileListing 
{
	margin: 0;
	padding: 0;
}

#mmUploadFileListing li 
{
	margin: 0 0 10px 0;
	display: block;
/*	float: left;*/
	width: 150px;
	list-style-type: none;
	font-size: 11px;
}

.uploading 
{ 
	color: #CCC; 
}

.uploadDone 
{ 
	color: #000; 
}

span.progressBar 
{
	width: 100px;
	display: block;
	font-size: 10px;
	height: 4px;
	margin-top: 4px;
}

/*a.SWFUploadLink 
{
      width: 300px;
      height: 100px;
      background: url(images/custom_button.png) no-repeat;
      display: block;
}
    
a.SWFUploadLink:hover 
{
      background: url(images/custom_button_over.png) no-repeat;
}
*/
.SWFUploadLink
{
	background: url(../images/btn_upload.png) no-repeat;
	height: 18px;
	width: 44px;
}

